@use "variables" as *;

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: $rc-body-color;
}

.modal{
    &#welcomeModal{
        .modal-header{
            background: url(../images/modal-home.jpg) 30% 35%;
            background-size: cover;
            height: 25vh;
        }
    }
    .modal-dialog{
        max-width: 700px;
        .modal-content{
            border-radius: 12px;
            border: 0 !important;
            .modal-header{
                border-radius: 12px 12px 0 0;
                .btn-close-modal{
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    width: 46px;
                    height: 46px;
                    border: none;
                    background: var(--bs-white);
                    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
                    &:hover{
                        i{
                            color: $rc-close-icon-color-hover;
                        }
                    }
                    i{
                        margin: 0;
                        font-size: 1.75rem;
                        color: $rc-close-icon-color;
                    }
                }
            }
            .modal-body{
                padding: 40px 100px;
                text-align: center;
                .modal-title{
                    font-size: 1.8rem;
                    font-weight: 800;
                    line-height: 2rem;
                    text-transform: uppercase;
                }
                .modal-text{
                    font-size: 1rem;
                    line-height: 1rem;
                    color: $rc-subtitle-color;
                    margin: 1.2rem 0 1.7rem;
                }
                .btn-custom-modal-primary{
                    background-color: $rc-btn-act-color;
                    border-color: $rc-btn-act-color;
                    text-transform: uppercase;
                    width: 50%;
                    padding: .55rem 1rem;
                    font-size: .85rem;
                    &:hover{
                        background-color: $rc-btn-act-color-hover;
                        border-color: $rc-btn-act-color-hover;
                    }
                }
                .modal-body-title{
                    font-size: 1.25rem;
                    font-weight: 600;
                }
                .modal-body-text{
                    font-size: 1rem;
                    line-height: 1rem;
                    font-weight: 400;
                }
            }
        }
    }
}



#header{
    background: var(--bs-white);
    > .navbar {
        padding: 0;
        .navbar-brand{
            padding: 0;
        }
        .navbar-nav{
            .dropdown-item{
                &.active, &:active{
                    background-color: $rc-subtitle-color-hover;
                }
            }
        }
    }
    #navbarSupportedContent{
        gap: 20px;
        ul.navbar-nav{
            border-left: 1px solid $rc-divider-color;
        }
    }
    .img-user{
        width: 42px;
        height: 42px;
        border: 2px solid $rc-title-color;
    }
    .user-profile{
        display: flex;
        align-items: center;
        gap: 20px;
        .text-user{
            display: flex;
            flex-direction: column;
            .welcome-msg{
                font-size: .75rem;
                color: $rc-subtitle-color;
            }
            .user-name{
                font-size: 1rem;
                font-weight: 700;
                color: $rc-title-color;
            }
        }
    }
    .form-search{
        input[type="search"] {
            background: $rc-body-color;
            border-color: $rc-divider-color;
            color: $rc-subtitle-color;
            height: 42px;
            padding: 0 1rem;
            &::placeholder{
                color: $rc-subtitle-color;
                font-size: .825rem;
                font-weight: 500;
                opacity: .8;
            }
            &::-webkit-search-cancel-button{
                cursor: pointer;
                position: relative;
                right: 25px;
                margin: 0;
                filter: grayscale(1);
                opacity: .55;
                &:hover{
                    opacity: .8;
                }
            }
        }
        button[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            &:hover{
                i{
                    color: $rc-subtitle-color-hover;
                }
            }
            i{
                font-size: 18px;
                color: $rc-subtitle-color;
                opacity: .8;
            }
        }
    }
}

#carouselRevvo{
    padding: 0;
    .overlay{
        background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.10136554621848737) 50%, rgba(0,0,0,0.7) 100%);
        opacity: .25;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
    .carousel-caption{
        background: radial-gradient(circle, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.5) 100%);
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        width: fit-content;
        max-width: 25%;
        padding: 1.55rem 1.75rem;
        text-align: left;
        top: 13%;
        right: 9%;
        bottom: 13%;
        left: 9%;
    }
    .title{
        text-transform: uppercase;
        margin: 0;
        font-size: 1.45rem;
        font-weight: 700;
    }
    .content{
        font-size: .80rem;
        line-height: 1.2rem;
        margin: 0;
    }
    .btn-custom-primary{
        font-size: .75rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.475rem 1.75rem;
        border-width: 2px;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 9%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 4rem;
        height: 4rem;
    }
    .carousel-indicators{
        margin: 0 auto;
        background: var(--bs-white);
        box-shadow: 0 0 5px 0px rgba(0,0,0,.2);
        width: fit-content;
        bottom: -13px;
        padding: .40rem .60rem;
        gap: 6px;
    }
    .carousel-indicators [data-bs-target]{
        box-sizing: border-box;
        width: .9rem;
        height: .9rem;
        border: 0;
        margin: 0;
        background: $rc-title-color;
        transition: all ease-in-out .2s;
        &:hover{
            background: $rc-title-color-hover;
        }
    }
    img{
        max-height: 380px;
        height: 380px;
        object-fit: cover;
    }
}

#cursos{
    padding: 40px 0;
    .title{
        font-size: 1.125rem;
        letter-spacing: .01rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $rc-title-color;
        margin: 0;
    }
    .card{
        border: none;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,.080);
        height: 100%;
        .card-img-top{
            height: 150px;
            object-fit: cover;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .card-title{
                font-size: 1.10rem;
                font-weight: 700;
                line-height: 1.15rem;
                color: $rc-title-color;
                margin: 0;
            }
            .card-text{
                font-size: .9rem;
                font-weight: 400;
                line-height: 1.1rem;
                color: $rc-subtitle-color;
                margin: 0;
            }
            .btn-custom-primary{
                background: $rc-primary-color;
                border-color: $rc-primary-color;
                font-size: .75rem;
                font-weight: 500;
                line-height: 1.25rem;
                text-transform: uppercase;
                &:hover{
                    background: $rc-primary-color-hover;
                    border-color: $rc-primary-color-hover;
                }
            }
        }
    }
    .btn-custom-create{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        border: 3px dashed $rc-subtitle-color;
        text-decoration: none;
        color: $rc-subtitle-color;
        transition: all ease-in-out .4s;
        &:hover{
            color: $rc-title-color-hover;
            border-color: $rc-title-color-hover;
            svg{
                g{
                    fill: $rc-title-color-hover;
                }
            }
        }
        svg{
            max-height: 120px;
            g{
                transition: fill .4s ease-in-out;
                fill: $rc-subtitle-color;
            }
        }
        .text-add{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
            text-transform: uppercase;
            margin: 0;
            span{
                font-size: 1.85rem;
            }
        }
    }
    .list-group{
        .list-group-item{
            .link-underline{
                color: $rc-primary-color;
                &:hover,
                &:active{
                    color: $rc-primary-color-hover;
                    text-decoration-color: $rc-primary-color-hover!important;
                    
                }
            }
            &:last-child{
                margin: 0!important;
                padding: 0!important;
            }
        }
    }
}

#bottom{
    padding: 40px 0;
    background: var(--bs-white);
    color: $rc-subtitle-color;
    .logo{
        flex: 2;
    }
    .contact{
        flex: 1;
    }
    .social-media{
        flex: 1;
        a{
            color: $rc-subtitle-color;
            transition: color ease-in-out .3s;
            &:hover{
                color: $rc-subtitle-color-hover;
            } 
        }
        i{
            font-size: 28px;
            margin: 0 10px;
            &:nth-child(2){
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .title{
        color: $rc-title-color;
        font-size: 1.15rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: -.05rem;
        text-transform: uppercase;
        margin: 0 0 20px;
    }
    .text{
        font-size: .85rem;
        font-weight: 600;
        line-height: 1.125rem;
        margin: 0;
    }
}

#footer{
    background: $rc-footer-color;
    color: $rc-subtitle-color;
    padding: 20px 0;
    margin: 0;
    .text{
        font-size: .85rem;
        margin: 0;
    }
}

#not-found{
    &.not-found-content{
        padding: 40px 0;
        .title{
            font-size: 1.125rem;
            letter-spacing: .01rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $rc-title-color;
            margin: 0;
        }
    }
    &.not-found-page{
        height: 100vh;
        .title{
            font-size: 12rem;
        }
    }
    .title{
        margin: 0;
    }
    .text{
        margin: 0;
    }
}

#message{
    padding: 40px 0 0;
}

.pagination{
    .page-item{
        &.active{
            .page-link{
                color: var(--bs-white);
                background-color: $rc-subtitle-color;
                border-color: $rc-subtitle-color;
                &:hover{
                    background-color: $rc-subtitle-color-hover;
                    border-color: $rc-subtitle-color-hover;
                }
            }
        }
        .page-link{
            color: $rc-title-color;
        }
    }
}

.form{
    .form-check-input{
        cursor: pointer;
        &:checked {
            background-color: $rc-primary-color;
            border-color: $rc-primary-color;
        }
    }
    .btn-primary{
        background-color: $rc-primary-color;
        border-color: $rc-primary-color;
        &:active,
        &:hover{
            background-color: $rc-primary-color-hover;
            border-color: $rc-primary-color-hover;
        }
    }
}

.table{
    color: $rc-title-color;
    &>:not(caption)>*>*{
        color: $rc-title-color;
    }
    .column-date{
        font-size: .825rem;
    }
    .btn{
        color: $rc-title-color;
        &:hover{
            color: $rc-title-color-hover;
        }
    }
}
